EXPO_PUBLIC_SUPABASE_URL=https://blrvttulfyeoqromogfz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
EXPO_PUBLIC_SUPABASE_FUNCTIONS_URL=https://blrvttulfyeoqromogfz.supabase.co/functions/v1

